<h1>Your short key is: <%= @rand%></h1>
<p>Now you can just add it to end of the apps domain like https://domain/shortkey and you will be redirected to the original full url.</p>
<%link_to 'back', root_path%>
