<div class="inner cover">
<h1>Your short key is: <%= @rand%></h1>
<p>https://suprshort.herokuapp.com/short/<%= @rand%> will redirect you to the original full url.</p>
<%= link_to 'back', root_path%>
</div>
