<h1>Url Shortener</h1>
<p>Enter a full url and you will recieve a short key that you can add to end of this url: https://cormacs-url-shortener.herokuapp.com/short/(**shortkeyhere**) to redirect you to the original url. If you enter a url that has already been shortened, it will give you it's existing short key.</p>
<%= form_tag '/dealwith' do%>
<div class="field">
<%= label_tag "Make new shortened url"%>
<%= text_field_tag :entry%>
</div>
<%= submit_tag "Enter"%>
<%end%>
